#sidebar {
  background-color: black;
  display: inline-block;
  height: 100vh;
  color: white;
  padding: 0;
  padding-left: 20px;
  position: fixed;
}

#mainContent {
  font-size: 1.3em;
}

p {
  font-family: 'Gill Sans';
  /*font-family: 'Minion Pro';*/
}

.title {
  font-size: 2em;
  font-weight: 100;
  margin: 0;
  padding: 0;
}

#title {
  margin: 0;
  padding: 0;
}

#titleAmpersand {
  font-weight: 700;
  font-size: 1.5em;
  margin: 0;
  padding: 0;
  font-family: copperplate;
  line-height: 0em;
}

#subTitle {
  padding: 0;
  margin: 0;
}

#menu {
  margin-top: 3em;
  font-size: 1.7em;
  margin-left: -20px;
  font-weight: 100;
}

#menu .list-group-item {
  background-color: black;
  color: white;
  border-radius: 0;
  border: none;
  padding: 10px 20px 10px 10px;
  cursor: pointer;
}

#menu .list-group-item:hover {
  background-color: #EEE;
  color: black;
}

.contentTitle {
  border-bottom: 1px solid gray;
  margin-bottom: 1em;
  padding-bottom: 0.5em;
  font-weight: 200;
}

i {
  margin-right: 1em;
}

.contactElement {
  width: 100%;
  margin-bottom: 1em;
  border: none;
}

button.contactElement {
  font-size: 2em;
  font-weight: 100;
  /*border-radius: 5px;*/
  border: 1px solid darkgray;
}

button.contactElement:hover {
  background-color: black;
  color: white;
  border: 1px solid white;
}

button.contactElement:active {
  background-color: #555;
  color: white;
}

form[name='contactForm'] {
  margin-bottom: 5em;
}

form[name='contactForm'] input {
  border: none;
  border-bottom: 1px solid #CCC;
}

form[name='contactForm'] input:focus {
  outline: none;
}

form[name='contactForm'] textarea:focus {
  outline: none;
}

button:focus {
  outline: none;
}

textarea {
  resize: none;
}

#contact-info {
  font-weight: 200;
}

#menu .subList {
  background-color: black;
  color: white;
  padding: 0;
}

#menu .subList li.list-group-item {
  font-size: 0.7em;
  padding: 5px 0px 5px 100px;
}

.carousel {
  /*background-color: black;*/
}

.carousel-image {
  margin: 0 auto;
  min-height: 400px;
  max-height: 800px;
  max-width: 500px;
}

.slick-prev, .slick-next {
  color: black;
  background-color: transparent;
  border: none;
  font-size: 3em;
  font-weight: 100;
  position: absolute;
  bottom: 35%;
}

.slick-prev {
  left: 10%;
}

.slick-next {
  right: 10%;
}


