<div class='row'>
  <h1 class='contentTitle col-md-8'> Paintings and Murals </h1>
</div>

<div class='row'>
  <div class='col-md-8 col-md-offset-2'>
    <h2>Paintings and Wall Art</h2>

    <p>
      Aside from portraiture and commisioned paintings, artist Aida Shabani, along with her team help you achieve an exciting, unique and beautiful visual environment. Creating an illusion of a fantasy and a costume background scene for your indoor as well as outdoor spaces starts with taking photographs of all different sides of the room. After detail discussion about the purpose of your space, carefull evalution of interior and size is done with hand sketches. within a week you will be presented by a few computerised sketches to chose from. These images are based on photographs of your space and the sketches that you chose, which will give you a very clear idea of how the space will look and fill. The team of 2 or 3, based on the size of the project proceed to paint on the surface of your wall. All paint media used for this purpose is organic and led free.
    </p>

  </div>
</div>