<div class='row'>
  <h1 class='contentTitle col-md-8'> About 4th Dimension Studio </h1>
</div>

<div class='row'>
  <div class='col-md-8 col-md-offset-2'>
    <p>
      4th dimension is a full service fine art studio. We offer classes, workshops, Weekly life drawing sessions as well as producing graphic design and Illustration solutions.
    </p>
    <p>
      Please stop by the studio to meet Aida Shabani and Jamie Brooks. 
      Call us to put your name on our email list for all events classes and workshops' registration.
    </p>

    <img src='img/paintTools.00_jpg_srz'>
    <img src='img/aidaPainting.00_jpg_srz'>
  </div>
</div>