<div class='row'>
  <h1 class='contentTitle col-md-8'> Painting & Drawing Classes </h1>
</div>

<div class='row'>
  <div class='col-md-8 col-md-offset-2'>
    <p>
      Our fun and interactive art classes start with simple pencil drawing; appropriate use of different lines, textures and material followed by shading, perspective, landscapes, portraiture and anatomy. Next students will learn color theory while experimenting with different color media. Lessons are tailored to the student's objectives and needs.
    </p>

    <h2>Schedule</h2>

    <p>
      The private sessions are usually on a flexible schedule.
      The gallery is open weekday day, evenings as well as on Sundays.
      For schedule of classes please contact the studio as it varries.
    </p>

    <h2>Rates</h2>

    <p>
      The fee for individule lessons is $25 per hour and usually sessions are 90 minutes each. 
      Groups of three or more students will form a class, class rates are $20 per hour per student. The studio provides most of the materials.
    </p>

    <img src='img/drawingClass.00_jpg_srz'>

  </div>
</div>